*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.btn-principal {
    display: inline-block;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

#beneficios {
    padding: 40px 20px;
    text-align: center;
}

.card {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    margin: 15px;
    padding: 20px;
    display: inline-block;
    width: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contato {
    text-align: center;
    padding: 40px 20px;
}

#depoimentos {
    text-align: center;
    padding: 40px 20px;
}

.depoimentos {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    margin: 15px;
    padding: 20px;
    display: inline-block;
    width: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-widht: 768px) {
    .card, .depoimentos {
        width: 90%;
        display: block;
        margin: 15px auto;
    }

    .hero h1 {
        font-size: 2em;
    }
    footer {
        padding: 10px;
    }

}

input[type="text"] , input[type="password"] , input[type="date"] , input[type="email"] {
  
  padding: 0.6rem;
  border: 2px solid #2c3e50;
  outline: none;
  border-radius: 8px;
  background-color: transparent;
}
